---
---
<html>
  <section class="heroSection">
    <div id="heroBox">
      <img id="heroText" src="/img/herotext.svg" style="max-width: 40em" alt="Something really good is happening soon" />
    </div>
    <div id="heroBottom">
        <img class="btn" src="/img/chevron.svg" alt="scroll down" style="width: 3em" />
    </div>
  </section>
<script>
  document.querySelector('.btn').addEventListener('click', function(e) {
    e.preventDefault();
      window.scrollTo({ top: document.body.clientHeight - window.innerHeight, left: 0, behavior: 'smooth' });
  });
</script>
</html>
<style>
  
  @keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
  }
  .heroSection {
    background-image: url(/img/hero.jpg);
    background-image: url(/img/hero.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 10% auto 15%;
  }
  @keyframes fadeup {
    from { 
      transform: translateY(2em);
      opacity: 0%;
    }
    to {    
      transform: translateY(0em);
      opacity: 100%;
    }
  }
  #heroText {
    will-change: transform;
    animation: fadeup 500ms;
    animation-fill-mode: both;
    animation-delay: 1000ms;
  }
  
  #heroBox {
    justify-items: center;
    align-self: center;
    display: grid;
    height: fit-content;
    grid-row: 2;
    grid-column: 2;
  }

  #heroBottom {
    display: grid;
    justify-content: center;
    align-self: end;
    padding: 2em;
    grid-row: 3;
    grid-column: 2;
  }
  @keyframes fadeindown {
    from {transform: translateY(-20px); opacity: 0.0; animation-timing-function: ease;}
    to {transform: translateY(0px); opacity: 0.5; animation-timing-function: ease;}
  }
  .btn {
    will-change: transform;
    animation: fadeindown 1500ms;
    animation-delay: 1500ms;
    animation-fill-mode: backwards;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 250ms;
  }
  .btn:hover {
    opacity: 1;
  }
  @keyframes fadeoutdown {
    from {transform: translateY(0px); opacity: 1;}
    to {transform: translateY(20px); opacity: 0;}
  }
  .btn:active {
    animation: fadeoutdown 100ms;
    animation-fill-mode: forwards
  }
</style>
